<footer class="footer">
  <div class="toolbar-section">
    <img src="../../../assets/homepage/Logo.png" alt="" />
  </div>
  <div class="footer-section">
    
    <div class="footer-section social-links">
      <span>Nous suivre</span>
      <ul>
        <li>
          <a class="facebook" routerLink="/subscribe"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="google" href="#"><i class="fab fa-google-plus-g"></i></a>
        </li>
      </ul>
    </div>
    <!-- <span>À propos</span>
      <div class="footer-list">
        <button mat-button routerLink="/subscribe">La Marque</button>
        <button mat-button routerLink="/subscribe">Activer ma carte cadeau</button>
        <button mat-button routerLink="/subscribe">Nous rejoindre</button>
        <button mat-button routerLink="/subscribe">Blog</button>
      </div> -->
  </div>

  <div class="footer-section">
    <span>Contactez-nous</span>
    <div class="footer-list">
      <mat-icon> phone</mat-icon>
      +33 4 04 04 04 04
      <mat-icon> mail</mat-icon>
      contact@artventurebox.com
      <mat-icon> location_on</mat-icon>
      Art’venture Box 20/22 Rue galillée 38130 Saint Martin d’Hères
    </div>
  </div>

  <div class="footer-bottom">
    <p>© Art'Venture Box @ All right reserved 2024</p>
  </div>
</footer>
