<footer class="footer">
  <div class="toolbar-section">
    <img src="../../../assets/homepage/Logo.png" alt="" />
  </div>
  <div class="footer-section">
    
    <div class="footer-section social-links">
      <span>Nous suivre</span>
      <ul>
        <li>
          <a class="facebook" href="https://www.facebook.com/?locale=fr_FR"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a class="twitter" href="https://x.com/?lang=fr"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a class="instagram" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-section">
    <span>Contactez-nous</span>
    <div class="footer-list">
      <mat-icon> phone</mat-icon>
      +33 4 04 04 04 04
      <mat-icon> mail</mat-icon>
      contact@artventurebox.com
      <mat-icon> location_on</mat-icon>
      Art’venture Box 20/22 Rue galillée 38130 Saint Martin d’Hères
    </div>
  </div>

  <div class="footer-bottom">
    <p>© Art'Venture Box @ All right reserved 2024</p>
  </div>
</footer>
