<mat-toolbar color="primary">
  <div class="toolbar-section">
    <img src="../../../assets/homepage/Logo.png" alt="" />
  </div>

  <div class="toolbar-section nav-buttons">
    <button mat-button routerLink="">Accueil</button>
    <button mat-button routerLink="/shop" routerLinkActive="active-link">
      Boutique
    </button>
    <button mat-button routerLink="/articles" routerLinkActive="active-link">
      Blog
    </button>
    <button mat-button routerLink="/concept" routerLinkActive="active-link">
      A propos de nous
    </button>
    <button mat-button routerLink="/contact" routerLinkActive="active-link">
      Contact
    </button>
    <button mat-button routerLink="/faq" routerLinkActive="active-link">
      Faq
    </button>
  </div>

  <div class="toolbar-section action-icons">
    <button mat-icon-button aria-label="Panier d'achat" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="numberOfItemsInCart > 0">{{ numberOfItemsInCart }}</span>
    </button>
    <button mat-icon-button routerLink="login">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
