<mat-toolbar color="primary">
  <div class="toolbar-section">
    <img src="../../../assets/homepage/Logo.png" alt="" />
  </div>

  <div class="toolbar-section nav-buttons">
    <button mat-button routerLink="">Accueil</button>
    <button mat-button routerLink="/offer">Boutique</button>
    <button mat-button routerLink="/article-3">Blog</button>
    <button mat-button routerLink="/concept">A propos de nous</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/faq">Faq</button>
  </div>

  <div class="toolbar-section action-icons">
    <button mat-icon-button aria-label="Panier d'achat" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button routerLink="login">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
