/* Styles de base, déjà fournis */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 120px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toolbar-section {
  display: flex;
  align-items: center;
}

.nav-buttons button,
.action-icons button {
  margin-right: 8px;
  color: rgb(197, 137, 93);
}

.nav-buttons button:last-child,
.action-icons button:last-child {
  margin-right: 0;
}
.nav-buttons button.active-link {
  color: rgb(78, 40, 1);
}
.nav-buttons button:hover,
.action-icons button:hover,
.mat-icon {
  color: rgb(78, 40, 1);
}

img{
  width: 70%;
}
/* Media Queries pour Responsive Design */
@media (max-width: 768px) {
  .mat-toolbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .toolbar-section {
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }

  .nav-buttons,
  .action-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-buttons button,
  .action-icons button {
    margin: 5px;
    font-size: 14px; /* Ajustez la taille du texte pour les écrans plus petits */
  }
}

/* Autres ajustements si nécessaire */
