<div class="cards-container">
    <mat-card class="example-card">
      <div class="card-section">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          </div>
          <mat-card-title>LIVRAISON OFFERTE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Pour toute commande passée du lundi au vendredi</p>
        </mat-card-content>
      </div>
  
      <div class="card-section">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          </div>
          <mat-card-title>LIVRAISON RAPIDE ET EXPÉDITION SOUS 72 HEURES</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Pour toute commande passée du lundi au vendredi</p>
        </mat-card-content>
      </div>
  
      <div class="card-section">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          </div>
          <mat-card-title>PAIEMENT 100% SÉCURISÉ</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>par carte bancaire (VISA,Mastercard, Amex), Paypal et 3x sans frais dès 80€</p>
        </mat-card-content>
      </div>
  
      <div class="card-section">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          </div>
          <mat-card-title>CONTACT</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Formulaire de contact ou  Du lundi au vendredi de 9h30 à 18h</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  