<mat-card class="custom-card">
    <div class="card-text-content">
      <h1>
        Bienvenue chez Art'Venture Box
      </h1>
      <h2>Ton aventure créative commence maintenant</h2>
      <mat-card-actions>
        <button mat-button>J'achète ma box</button>
      </mat-card-actions>
    </div>
    <img src="../../../assets/homepage/kit.png" alt="" class="right-side-image">
  </mat-card>
  

<mat-card>
  <mat-card-header>
    <h2>Pourquoi choisir Art'venture Box ?</h2>
  </mat-card-header>
  <div class="cards-container features-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/prospect.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Produit de haute qualité</p>
        <p>
          Les produits soigneusement sélectionnés dans nos box créatives
          témoignent d'une qualité exceptionnelle, garantissant une expérience
          enrichissante à chaque utilisation.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/france_drapeau.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Artisanat Français</p>
        <p>
          Nous sommes fiers de collaborer étroitement avec l'artisanat français,
          sélectionnant avec soin des produits qui incarnent l'authenticité et
          le savoir-faire traditionnel de nos terres.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/team.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Équipe de créatifs</p>
        <p>
          Notre équipe regorge de talents créatifs, passionnés et innovants,
          apportant une touche unique à chaque aspect de notre travail,
          garantissant ainsi des produits et des expériences originales et
          captivantes.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/original.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Originalité</p>
        <p>
          Notre concept de thèmes trimestriels uniques se démarque des autres
          box créatives, offrant une expérience renouvelée à chaque saison pour
          une touche d'originalité constante.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
<mat-card>
  <mat-card-header>
    <h2>Nos abonnements</h2>
  </mat-card-header>
  <div class="cards-container subscriptions-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/toothbrush.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Abonnement Mensuel (1 box)</p>
        <p>35 €</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/tot_bag.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>Abonnement Trimestriel (2 box)</p>
        <p>90 €</p>
        <p>105 €</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <a href="annual">
      <img
        mat-card-image
        src="../../../assets/homepage/lamp.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <button>Je M'abonne</button>
      </mat-card-content>
    </a>
    </mat-card>
    
  </div>
</mat-card>

<mat-card>
  <mat-card-content>
    <h3>CARTE CADEAU</h3>
    <h2>NOTRE E-CARTE CADEAU</h2>
    <mat-card-header>
      <h2>CARTE CADEAU ABONNEMENT L'ART'VENTURE BOX</h2>
    </mat-card-header>
    <mat-card-content>
      <p>
        Vous avez envie de le surprendre ? De faire durer sa fête toute l’année
        ? Foncez sur nos e-carte cadeaux Box 3, 6 ou 12 mois et en quelques
        clics vous avez le cadeau parfait, il n’y a plus qu’à l’imprimer ! Le
        code d'activation est valable un an à compter de la date d'achat de la
        carte cadeau.
      </p>
      <mat-card-actions>
        <button mat-button>3 MOIS</button>
        <button mat-button>6 MOIS</button>
        <button mat-button>12 MOIS</button>
        <mat-form-field class="example-full-width">
          <mat-label>Number Picker</mat-label>
          <input type="number" matInput value="Sushi" />
        </mat-form-field>
      </mat-card-actions>
    </mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <h2>Nos clients parlent de nous</h2>
  </mat-card-header>
  <div class="cards-container testimonials-section">
    <mat-card-content>
      <img
        mat-card-image
        src="../../../assets/homepage/avis_1.png"
        alt="Avis de Sarah T."
      />
      <h3>Sarah T.</h3>
      <p>
        Je viens de recevoir l'Art'venture Box en cadeau et je suis enchantée !
        Cette box créative regorge de trésors artistiques soigneusement
        sélectionnés, offrant une expérience immersive et stimulante. Chaque
        élément, du matériel d'art aux instructions détaillées, est parfaitement
        pensé pour inspirer ma créativité. C'est un cadeau idéal pour tous les
        amateurs d'art et d'artisanat !
      </p>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </mat-card-content>
    <mat-card-content>
      <img
        mat-card-image
        src="../../../assets/homepage/avis_2.png"
        alt="Avis de Sarah T."
      />
      <h3>Alex R.</h3>
      <p>
        L'abonnement annuel à l'Art'venture Box est un investissement artistique
        qui en vaut vraiment la peine ! Recevoir une box chaque mois, c'est une
        économie de temps et d'argent, sans compromis sur la qualité. Chaque box
        est une surprise bienvenue, avec des projets captivants et des
        fournitures artistiques de première qualité. C'est pratique, économique
        et une source d'inspiration constante pour ma créativité !
      </p>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_border</mat-icon>
    </mat-card-content>
    <mat-card-content>
      <img
        mat-card-image
        src="../../../assets/homepage/avis_3.png"
        alt="Avis de Sarah T."
      />
      <h3>Maya G.</h3>
      <p>
        L'abonnement trimestriel à l'Art'venture Box est une vraie pépite !
        Chaque envoi est une source d'inspiration avec des fournitures
        artistiques de qualité. La thématique sur la Corée du Sud ce trimestre
        était captivante. Recommandé pour tous les amateurs d'art !
      </p>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_half</mat-icon>
    </mat-card-content>
  </div>
</mat-card>

<mat-card>
  <mat-card-header>
    <h2>Notre Blog</h2>
  </mat-card-header>
  <div class="cards-container blogs-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/flower.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <h3>
          Exploration artistique : Comment trouver l'inspiration dans le monde
          qui nous entoure
        </h3>
        <p>
          Découvrez comment observer attentivement le monde qui nous entoure
          peut nourrir votre créativité artistique, avec des conseils pratiques
          pour stimuler votre imagination et redécouvrir la beauté dans les
          petites choses de la vie.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/recycling.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <h3>
          L'art du recyclage : Transformez vos déchets en œuvres d'art
          étonnantes
        </h3>
        <p>
          Explorez comment donner une nouvelle vie à vos déchets en les
          transformant en œuvres d'art uniques, avec des techniques créatives et
          des idées inspirantes pour des projets écologiques qui transcendent
          les simples matériaux recyclés.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/fertilizer.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <h3>
          Peindre avec passion : Les secrets pour libérer votre créativité sur
          la toile
        </h3>
        <p>
          Plongez dans le processus de création artistique avec passion,
          découvrez des conseils pour surmonter les blocages créatifs et trouvez
          votre propre style distinctif dans la peinture, en cultivant une
          connexion profonde avec votre sujet et en exprimant votre vision
          unique à travers la toile.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>

<mat-card>
  <mat-card-header>
    <h3>La Newsletter</h3>
  </mat-card-header>
  <mat-card-content>
    <p>“Reste créatif et informé.e”</p>
    <p>
      Rejoignez notre newsletter pour des conseils artistiques, des offres
      exclusives dans votre boîte de réception. Pas de spam, nous vous le
      promettons.
    </p>
    <mat-form-field class="example-full-width">
      <mat-label>Entrez votre E-mail</mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-raised-button color="primary">Je m'inscris</button>
  </mat-card-content>
</mat-card>
<app-informations></app-informations>
