<mat-card class="custom-card">
  <div class="card-text-content">
    <h1 class="dark-brown-color">
      <b
        >Bienvenue chez <br /><br />
        <span>Art'Venture Box</span>
      </b>
    </h1>
    <h2>
      <span class="light-brown-color">Ton aventure</span> <br />
      <span class="dark-brown-color">créative</span> <br />
      <span class="light-brown-color">commence maintenant</span>
    </h2>
    <h3>
      Parcourez notre sélection de produits respectueux de l'environnement
      <br />
      et faites en sorte que chaque achat compte
    </h3>
    <mat-card-actions>
      <button mat-button>J'achète ma box</button>
    </mat-card-actions>
  </div>
  <img src="../../../assets/homepage/box.png" alt="" class="right-side-image" />
</mat-card>

<mat-card>
  <mat-card-header>
    <h2 class="dark-brown-color center-text">
      Pourquoi choisir Art'venture Box ?
    </h2>
  </mat-card-header>
  <div class="cards-container features-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/prospect.png"
        alt="Produit de haute qualité"
      />
      <mat-card-content>
        <p>
          Produit de <br />
          haute qualité
        </p>
        <p>
          Les produits soigneusement sélectionnés dans nos box créatives
          témoignent d'une qualité exceptionnelle, garantissant une expérience
          enrichissante à chaque utilisation.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/france_drapeau.png"
        alt="Artisanat Français"
      />
      <mat-card-content>
        <p>
          Artisanat <br />
          Français
        </p>
        <p>
          Nous sommes fiers de collaborer étroitement avec l'artisanat français,
          sélectionnant avec soin des produits qui incarnent l'authenticité et
          le savoir-faire traditionnel de nos terres.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/team.png"
        alt="Équipe de créatifs"
      />
      <mat-card-content>
        <p>
          Équipe de <br />
          créatifs
        </p>
        <p>
          Notre équipe regorge de talents créatifs, passionnés et innovants,
          apportant une touche unique à chaque aspect de notre travail,
          garantissant ainsi des produits et des expériences originales et
          captivantes.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/original.png"
        alt="Originalité"
      />
      <mat-card-content>
        <p>Originalité</p>
        <p>
          Notre concept de thèmes trimestriels uniques se démarque des autres
          box créatives, offrant une expérience renouvelée à chaque saison pour
          une touche d'originalité constante.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>

<mat-card>
  <mat-card-header>
    <h2 class="dark-brown-color center-text">Nos abonnements</h2>
  </mat-card-header>
  <div class="cards-container subscriptions-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/pearl-box.jpg"
        alt="Abonnement Mensuel"
      />
      <mat-card-content>
        <p>Box individuelle </p>
        <p>35 €</p>
      </mat-card-content>
      <mat-card-actions>
        <button>Je M'abonne</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/wool-box.jpg"
        alt="Abonnement Trimestriel"
      />
      <mat-card-content>
        <p>Abonnement Trimestriel (3 box)</p>
        <p>90 € <span class="strikethrough">105 €</span></p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="trimonthly">Je M'abonne</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
  
        <img
          mat-card-image
          src="../../../assets/homepage/paint-box.jpg"
          alt="Abonnement Annuel"
        />
        <mat-card-content>
          <p>Abonnement Annuel (12 box)</p>
          <p>300 € <span class="strikethrough">420 €</span></p>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="annual">Je M'abonne</button>
        </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
<mat-card>
    <video controls class="responsive-video">
      <source
        src="../../../assets/videos/Montage-VFinale.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
</mat-card>


<mat-card>
  <mat-card-header>
    <h2 class="dark-brown-color center-text">Nos clients parlent de nous</h2>
  </mat-card-header>
  <div class="cards-container testimonials-section">
    <div class="example-card">
      <mat-card-content>
        <img mat-card-image src="../../../assets/homepage/avis_1.png" alt="Avis de Sarah T.">
        <h3>Sarah T.</h3>
        <p>Je viens de recevoir l'Art'venture Box en cadeau et je suis enchantée ! Cette box créative regorge de trésors artistiques soigneusement sélectionnés, offrant une expérience immersive et stimulante. Chaque élément, du matériel d'art aux instructions détaillées, est parfaitement pensé pour inspirer ma créativité. C'est un cadeau idéal pour tous les amateurs d'art et d'artisanat !</p>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
        </div>
      </mat-card-content>
    </div>
    <div class="example-card">
      <mat-card-content>
        <img mat-card-image src="../../../assets/homepage/avis_2.png" alt="Avis de Alex R.">
        <h3>Alex R.</h3>
        <p>L'abonnement annuel à l'Art'venture Box est un investissement artistique qui en vaut vraiment la peine ! Recevoir une box chaque mois, c'est une économie de temps et d'argent, sans compromis sur la qualité. Chaque box est une surprise bienvenue, avec des projets captivants et des fournitures artistiques de première qualité. C'est pratique, économique et une source d'inspiration constante pour ma créativité !</p>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon>
        </div>
      </mat-card-content>
    </div>
    <div class="example-card card-border">
      <mat-card-content >
        <img mat-card-image src="../../../assets/homepage/avis_3.png" alt="Avis de Maya G.">
        <h3>Maya G.</h3>
        <p>L'abonnement trimestriel à l'Art'venture Box est une vraie pépite ! Chaque envoi est une source d'inspiration avec des fournitures artistiques de qualité. La thématique sur la Corée du Sud ce trimestre était captivante. Recommandé pour tous les amateurs d'art !</p>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>


<mat-card style="background-color: rgb(197, 137, 93);">
    <h2 class="white-color">Notre Blog</h2>
  <div class="cards-container blogs-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/exterior-painting.jpg"
        alt="Exploration artistique"
      />
      <mat-card-content>
        <h3 class="dark-brown-color">
          Exploration artistique : Comment trouver l'inspiration dans le monde qui nous entoure
        </h3>
        <p class="dark-brown-color">
          Découvrez comment observer attentivement le monde qui nous entoure peut nourrir votre créativité artistique, avec des conseils pratiques pour stimuler votre imagination et redécouvrir la beauté dans les petites choses de la vie.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/pottery.jpg"
        alt="L'art du recyclage"
      />
      <mat-card-content>
        <h3 class="dark-brown-color">
          Les 7 loisirs artistiques accessibles à tous, peu importe votre niveau de talent
        </h3>
        <p class="dark-brown-color">
          Explorez comment donner une nouvelle vie à vos déchets en les
          transformant en œuvres d'art uniques, avec des techniques créatives et
          des idées inspirantes pour des projets écologiques qui transcendent
          les simples matériaux recyclés.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/work-plan.jpg"
        alt="Peindre avec passion"
      />
      <mat-card-content>
        <h3 class="dark-brown-color">
          Peindre avec passion : Les secrets pour libérer votre créativité sur la toile
        </h3>
        <p class="dark-brown-color ">
          Plongez dans le processus de création artistique avec passion, découvrez des conseils pour surmonter les blocages créatifs et trouvez votre propre style distinctif dans la peinture, en cultivant une connexion profonde avec votre sujet et en exprimant votre vision unique à travers la toile.
        </p>
        <mat-card-actions>LIRE PLUS</mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>

<mat-card >
  <mat-card-content class="newsletter-content bk-light-brown-color">
    <div class="image-container">
      <img src="../../../assets/homepage/mountain-of-paint.jpg" alt="" class="newsletter-image">
    </div>

    <div class="text-container bk-white-color">
        <h3 class="news-title">Reste créatif et informé.e</h3>
      <p class="news-text">
        Rejoignez notre newsletter pour des conseils artistiques, <br> des offres
        exclusives dans votre boîte de réception. <br> Pas de spam, nous vous le
        promettons.
      </p>
      <mat-form-field class="example-full-width enter-email">
        <mat-label>Entrez votre E-mail</mat-label>
        <input matInput />
        <mat-card-actions>
          <button mat-button>Je m'inscris</button>
        </mat-card-actions>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

