.example-card,
.custom-card,
.cards-container {
  max-width: 100%;
  overflow: hidden;
}
.text {
  align-items: center;
}
.custom-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.card-text-content {
  flex: 1;
  padding: 20px;
  padding-left: 50px;
}

.light-brown-color {
  color: rgb(197, 137, 93);
}

.dark-brown-color {
  color: rgb(78, 40, 1);
}
.bk-light-brown-color {
  background-color: rgb(197, 137, 93);
}
.bk-white-color {
  background-color: rgb(255, 255, 255);
}
.white-color {
  color: white;
  text-align: center;
}
.price {
  font-size: 1.4em;
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
  font-size: 1em;
}
.card-border {
  border-color: rgb(78, 40, 1);
  align-items: center;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center-text {
  text-align: center;
  width: 100%;
  margin: 2rem;
}

.right-side-image {
  flex: 2;
  max-width: 500px;
  height: auto;
  transform: rotate(-65deg) translateX(7%);
  margin-right: 0%;
  transition: transform 0.5s ease;
}
.testimonials-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin-left: 2rem;
}

.blog-item {
  flex: 1 1 30%;
  margin: 15px;
  box-sizing: border-box;
}
.blog-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-card {
  flex: 1 1 30%;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  border: 2px solid rgb(78, 40, 1);
  padding: 10px;
  border-radius: 0.5rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 50px;
  padding-top: 3rem;
}
h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-left: 50px;
}
p,
mat-card-actions button {
  font-size: 1.2em;
}

mat-card-actions button {
  background-color: rgb(78, 40, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
mat-card-actions button:hover {
  background-color: rgb(197, 137, 93);
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.subscriptions-section .example-card img[mat-card-image] {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 0;
  margin: 5px;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.dark-brown-color,
.center-text {
  text-align: center;
  color: rgb(78, 40, 1);
}

.example-card {
  flex: 1 1 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.mat-card-content p {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}
.text-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 2rem;
  color: rgb(78, 40, 1);
}
.centered-text {
  max-width: 800px;
}

.cards-container {
  justify-content: center;
}
.button {
  background-color: rgb(78, 40, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(197, 137, 93);
}
.newsletter-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  text-align: left;
  margin: 4rem;
  border-radius: 2rem;
}

.image-container {
  flex: 1;
  max-width: 460px;
}

.newsletter-image {
  width: 100%;
  height: auto;
}

.text-container {
  flex: 2;
  max-width: 600px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin: 10px;
  }
  h2 {
    font-size: 20px;
    margin: 8px;
  }
  h3 {
    font-size: 18px;
    margin: 6px;
  }
  p {
    font-size: 16px;
    margin: 4px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
