<mat-card>
  <h1 class="dark-brown-color">Nos abonnements</h1>
  <div class="cards-container subscriptions-section">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/pearl-box.jpg"
        alt="Box individuelle"
      />
      <mat-card-content>
        <p>Box individuelle</p>
        <p><span class="discount-price">35 €</span></p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/unique">Je M'abonne</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/wool-box.jpg"
        alt="Abonnement Trimestriel"
      />
      <mat-card-content>
        <p>Abonnement Trimestriel <br />(3 box)</p>
        <p>
          <span class="discount-price">90 €</span>
          <span class="strikethrough">105 €</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/trimonthly">Je M'abonne</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/homepage/paint-box.jpg"
        alt="Abonnement Annuel"
      />
      <mat-card-content>
        <p>Abonnement Annuel <br> (12 box)</p>
        <p>
          <span class="discount-price">300 €</span>
          <span class="strikethrough">420 €</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/annual">Je M'abonne</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-card class="text-center-container">
    <mat-card-content class="centered-text">
      <h3>
        <p>
          Notre offre est conçue autour de
          <b> trois modalités d'engagement</b> afin de répondre aux besoins
          variés de notre clientèle. L'<b>abonnement mensuel</b> offre une
          souplesse optimale, adapté aussi bien aux achats ponctuels qu'à la
          découverte progressive de notre gamme à travers une expérience
          individuelle.
        </p>

        <p>
          Pour ceux désirant explorer nos thématiques sur un rythme trimestriel,
          l'<b>abonnement trimestriel</b> est une option idéale. Chaque
          trimestre, nos clients reçoivent trois boîtes contenant des activités
          distinctes mais unifiées par un thème commun.
        </p>
        <p>
          De plus, nous avons institué un système de
          <b> réductions</b> avantageuses pour nos abonnés trimestriels ou
          annuels, récompensant ainsi leur fidélité et leur engagement à long
          terme.
        </p>
        <p>
          Chacune de nos boîtes est le fruit d'un processus rigoureux. Nous
          sélectionnons avec soin des <b> produits de qualité</b> issus de l'<b
            >artisanat français</b
          >, assemblés méticuleusement par notre équipe dans nos locaux. Cette
          approche garantit à nos clients une expérience authentique et une
          qualité irréprochable à chaque livraison.
        </p>
      </h3>
    </mat-card-content>
    <div></div>
  </mat-card>
</mat-card>
