.faq-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
  padding-top: 1rem;
  text-align: center;
}
.dark-brown-color, .center-text {
  color: rgb(78, 40, 1);
}
.center-text {
  text-align: center;
  width: 100%;
  margin: 2rem;
}

.faq-content {
  width: 100%;
}

.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  margin: 10px 0;
}
