<div class="faq-container">
  <h1 class="dark-brown-color">Foire aux questions</h1>

  <div class="faq-content">
    <mat-accordion class="example-headers-align">
      <div id="nos-produits">
        <h2>Nos Produits</h2>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Pourquoi choisir l’abonnement annuel ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            En choisissant l'abonnement annuel, vous économisez 120€ par an et
            vous évitez l'oubli de renouvellement mensuel de votre box.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Quelles activités puis-je retrouver dans mes box
              ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Chaque box mensuelle offre une variété d'activités telles que la
            broderie, la peinture, le diamond painting et la poterie.
          </p>
        </mat-expansion-panel>
      </div>

      <div id="commandes">
        <h2>Commandes & Abonnements</h2>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Comment fonctionne l'abonnement ?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Inscrivez-vous et choisissez votre formule d'abonnement. Recevez
            chaque mois une nouvelle box directement chez vous. Modifiez ou
            annulez votre abonnement à tout moment via votre compte en ligne.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Puis-je offrir une box en cadeau ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Oui, sélectionnez l'option "Offrir en cadeau" lors de la commande et
            fournissez les informations du destinataire pour faire une surprise
            créative.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Quand vais-je recevoir ma première box ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Les box sont expédiées au début de chaque mois. Si vous vous abonnez
            avant la fin du mois en cours, vous recevrez la box du mois suivant.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Puis-je retourner une box si elle ne me plaît pas
              ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Les retours ne sont pas acceptés sauf si la box est endommagée ou
            incomplète. Contactez le service client pour assistance.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Comment puis-je annuler mon abonnement ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Annulez à tout moment via la section "Mes abonnements" de votre
            compte client. Assurez-vous de le faire avant la date de
            renouvellement pour éviter les charges du mois suivant.
          </p>
        </mat-expansion-panel>
      </div>

      <div id="paiements-livraison">
        <h2>Paiements & Livraison</h2>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Quels sont les moyens de paiement acceptés ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Nous acceptons les cartes de crédit majeures et PayPal. Tous les
            paiements sont sécurisés.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Y a-t-il des frais de livraison ?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            La livraison est gratuite en France métropolitaine. Des frais
            peuvent s'appliquer pour les envois internationaux.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Comment puis-je suivre ma commande ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Un numéro de suivi sera fourni par email dès l'expédition de votre
            box pour suivre son acheminement en ligne.
          </p>
        </mat-expansion-panel>
      </div>

      <div id="service-client">
        <h2>Service Client</h2>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Comment puis-je contacter le service client ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <p>
            Contactez-nous par email ou téléphone, ou utilisez le formulaire de
            contact sur notre site. Nous sommes disponibles du lundi au
            vendredi.
          </p>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
