<div class="header">
  <h1>Création de compte</h1>
  <h2>Veuillez indiquer un pseudo, votre email et un mot de passe :</h2>
</div>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="contact-form">
  <mat-form-field appearance="fill" class="full-width-field">
    <mat-label>Nom de compte</mat-label>
    <input matInput placeholder="Nom de compte" name="username" ngModel required [(ngModel)]="username" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" name="email" ngModel required [(ngModel)]="email" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width-field">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" placeholder="Mot de passe" name="password" ngModel required [(ngModel)]="password" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Rejoindre l'artVenture</button>
</form>
<div class="footer-section social-links">
  <div class="first-install">
    <p>ou continuer avec</p>
    <ul>
      <li>
        <a class="facebook" routerLink="/subscribe"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a class="google" href="#"><i class="fab fa-google"></i></a>
      </li>
    </ul>
    <p>Vous n'avez pas de compte ? En créer un <a routerLink="/subscribe">maintenant</a></p>
  </div>
</div>
