<h1>Tous nos articles</h1>
<div class="article-row">
  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/painting-blog.jpg"
        alt="Plan de travail de peintre"
      />
      <mat-card-content>
        <h2>
          Peindre avec passion : Les secrets pour libérer votre créativité sur
          la toile
        </h2>
        <p>
          Plongez dans le processus de création artistique avec passion,
          découvrez des conseils pour surmonter les blocages créatifs et trouvez
          votre propre style distinctif dans la peinture, en cultivant une
          connexion profonde avec votre sujet et en exprimant votre vision
          unique à travers la toile.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/pottery.jpg"
        alt="Photo de poteries"
      />
      <mat-card-content>
        <h2>
          Les 7 loisirs artistiques accessibles à tous, peu importe votre niveau
          de talent
        </h2>
        <p>
          Découvrez sept activités artistiques accessibles à tous, accompagnées
          de conseils pratiques pour vous aider à vous lancer et à explorer
          votre créativité. Peu importe votre niveau de compétence, il y a une
          activité artistique pour vous.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/exterior-painting.jpg"
        alt="Peinture en exterieur"
      />
      <mat-card-content>
        <h2>
          Exploration artistique : Comment trouver l'inspiration dans le monde
          qui nous entoure
        </h2>
        <p>
          Découvrez comment observer attentivement le monde qui nous entoure
          peut nourrir votre créativité artistique, avec des conseils pratiques
          pour stimuler votre imagination et redécouvrir la beauté dans les
          petites choses de la vie.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="article-row">
  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/man-who-draws.jpg"
        alt="Homme qui dessine un croquis"
      />
      <mat-card-content>
        <h2>5 techniques simples pour débuter en dessin</h2>
        <p>
          Cet article propose cinq techniques simples pour ceux qui souhaitent
          commencer à dessiner. Avec des conseils pratiques et des exercices
          faciles, les débutants apprendront à maîtriser les bases du dessin et
          à développer leur confiance en leurs capacités artistiques.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/pexels.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>Comment la peinture peut transformer votre vie quotidienne</h2>
        <p>
          Découvrez comment la peinture peut avoir un impact positif sur votre
          vie quotidienne en favorisant la relaxation et l'expression
          personnelle. Cet article explore les bienfaits de la peinture et
          propose des conseils pour intégrer cette activité créative dans votre
          routine.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/man-who-create-pottery.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>Créer avec de l'argile : guide pratique pour les débutants</h2>
        <p>
          Ce guide pratique offre des conseils et des techniques pour les
          débutants souhaitant travailler avec de l'argile. Apprenez les bases
          du modelage, découvrez les outils nécessaires et trouvez l'inspiration
          pour créer vos premières pièces en céramique.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="article-row">
  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles//finger-painting.jpeg"
        alt="Peinture avec les doigts"
      />
      <mat-card-content>
        <h2>Le pouvoir thérapeutique de l'art : expériences et témoignages</h2>
        <p>
          Explorez le pouvoir thérapeutique de l'art à travers des témoignages
          inspirants et des études de cas. Cet article met en lumière comment
          l'expression artistique peut aider à surmonter des défis émotionnels
          et à améliorer le bien-être mental.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/aquarelle.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <h2>
          Aquarelle : astuces et techniques pour maîtriser cet art délicat
        </h2>
        <p>
          Plongez dans le monde de l'aquarelle avec des astuces et techniques
          pour maîtriser cet art délicat. Cet article offre des conseils pour
          choisir les bons matériaux, mélanger les couleurs et créer des effets
          spéciaux pour des œuvres réussies.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="article-item">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/articles/manufacture-of-artisanal-lamp.jpeg"
        alt="création de socle de lampe artisanale"
      />
      <mat-card-content>
        <h2>
          DIY : fabriquez vos propres décorations artistiques pour la maison
        </h2>
        <p>
          Cet article propose des projets DIY pour créer vos propres décorations
          artistiques. Avec des instructions pas à pas et des idées créatives,
          transformez votre intérieur avec des pièces uniques et personnalisées
          fabriquées par vous-même.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIRE PLUS</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
