/* .article-content {
    margin-top: 2rem;
  } */
  
  .article-image {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
  }
  
  button {
    margin-top: 20px;
  }
  
  h2{
    margin-top: 2rem;
  }