<mat-card>
    <mat-card-content>
        <h2>Découvrir, explorer, créer</h2>
        <h3>Découvrez nos offres spéciales</h3>
        <mat-card-actions>
            <button mat-button>Le Trimestriel</button>
            <button mat-button>L'Annuel </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>CHOISISSEZ L’ABONNEMENT QUI VOUS CONVIENT
        </h2>
        <h3>Notre abonnement mensuel est sans engagement, vous êtes libre de résilier à tout moment.
            Réception de la 1ère box le mois suivant l’inscription.</h3>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>ABONNEMENT MENSUEL</h2>
        <h3>35€ /MOIS</h3>
        <mat-card-actions>
            <button mat-button>Le Trimestriel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h2>ABONNEMENT ANNUEL</h2>
        <h3>30€ /MOIS</h3>
        <mat-card-actions>
            <button mat-button>L'Annuel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<app-informations></app-informations>

